.posts-expand {
    &.index {
        .post-meta {
            justify-content: center;
        }
    }
}

article
    background-color: var(--body-bg-color)
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    padding: 20px